/* Estilos CSS para el formulario */
body {
    font-family: Arial, sans-serif;
    background-color: #cde2f6;
    color: #030000;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(./img/doctor-6701410.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    height: 1800px;
    background-attachment: fixed;
    background-size: cover;
}

header {

    background-color: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)) #141dcd;

    color: #08001e;
    padding: 30px;
}

h1,
h2 {
    margin-top: 20px;
    text-align: center;
}

main {
    max-width: 500px;
    margin: auto;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
/*borde de listas formulario*/
input,
select {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 2px solid #2a08e9;
    border-radius: 4px;
    font-size: 16px;
    font-family: sans-serif;
    box-sizing: border-box;
}
/*boton enviar*/
input[type="submit"] {
    background-color: #17e52c;
    color: rgb(253, 247, 247);
    border: 2px solid rgb(7, 143, 0);
    border-radius: 4px;
    cursor: pointer;
    padding: 12px 20px;
    font-size: 16px;
    font-family: sans-serif;
    transition: background-color 0.3s ease;
}
/*boton volver*/
input[type="button"] {
    background-color: #f73e34;
    color: rgb(253, 247, 247);
    border: 2px solid rgb(211, 4, 4);
    border-radius: 4px;
    cursor: pointer;
    padding: 12px 20px;
    font-size: 16px;
    font-family: sans-serif;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #1f2a8d;
}

span {
    color: red;
}

/* Estilos CSS para las tablas */
table {
    border-collapse: collapse;
    width: 100%;
    font-size: 16px;
    font-family: sans-serif;
}

th,
td {
    padding: 10px;
    text-align: center;
    border: 5px solid #010209;
    background-color: #8996ec;


}
/*texto de las tablas*/
td {
    color: 00#d10303;
}

th {
    background-color: #1711d2;
    font-weight: bold;
}

.tabla-container {
    max-width: 80%;
}
.listado-container {
    max-width: 70%;
}
.boton-container {
    margin-block: 30px;
}

.listado-servicios a {
    background-color: #d5d5f8;
    border-style: outset;
    border-width: 4px 3px;
    border-radius: 10px;
    text-decoration: none;
    color: #760303;
    border-color: #848487;
    font-size: 30px;
}

.listado-servicios li::marker {
    content: 🐾;
}